body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
}


/* HEADER*/
header {
  background-color: #003c4f;
  color: #fff;
  text-align: center;
  padding: 1rem 0;
}
/* HEADER*/


main {
  padding: 20px;
  max-width: 900px;
  margin: 0 auto;
}

form {
  margin-bottom: 20px;
  padding: 15px;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
 
}


label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;

}



section {
  display: none; /* Hides all <section> elements */
}

section.active {
  display: block; /* Shows only <section> with class "active" */
}

nav {
  margin-bottom: 20px;
  background-color: #003c4f;
  padding: 10px;
}

nav button {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
  border-radius: 5px;
}

nav button:hover {
  background-color: #218838;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

table th, table td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}

table th {
  background-color: #003c4f;
  color: white;
}

table tr:nth-child(even) {
  background-color: #f9f9f9;
}

table tr:hover {
  background-color: #f1f1f1;
}

input[type="text"], input[type="number"], select {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  max-width: 850px;
}

button {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
}

#lecture-list-items li {
  background-color: #218838;
  padding: 15px;
  margin:5px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 200px;
  text-align: center;
  transition: transform 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


button:hover {
  background-color: #218838;
}
